body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/* Formatação da barra de navegação com abas */

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 720px;
}

ul li {
    float: left;
    background: url(../aula058_navegandoComAbas/imagens/aba-direita.png) no-repeat top right;
}

li a{
    display: block;
    padding: 0 2em;
    line-height: 3em;
    text-decoration: none;
    background: url(../aula058_navegandoComAbas/imagens/aba-esquerda.png) no-repeat top left;
    color: #fff;
}

ul a:hover{
    color: #894a1f;
}

ul #atual {
    background: url(../aula058_navegandoComAbas/imagens/aba-direita-atual.png) no-repeat top right;
}

ul #atual a {
    background: url(../aula058_navegandoComAbas/imagens/aba-esquerda-atual.png) no-repeat top left;
    color: #894a1f;
}
